body {
    font-family: "Times New Roman", serif;
}

h1 {
    font-size: 32px;
}

.orange-text {
    color: orange;
    font-size: 20px;
}

p {
    font-size: 20px;
}

.background-paragraph {
    background-image: url("images.jpg");
    background-size: cover;
    background-position: center;
}