h1 {
    color: orange;
    font-family: "Times New Roman", serif;
    font-size: 50px;
}

h2 {
    text-align: right;
    font-family: Arial, sans-serif;
    font-size: 45px;
}

.first {
    font-family: Arial, sans-serif;
    font-size: 30px;
    margin-top: 40px;
}

.second {
    text-align: right;
    font-family: "Courier New", monospace;
    font-size: 28px;
    margin-top: 25px;
}