* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    display: flex;
    height: 100vh;

    border: 10px solid goldenrod;
}

.item {
    flex: 1;

    color: white;
    font-family: Georgia, serif;
    font-size: 70px;
    text-align: center;
    padding-top: 20px;
}

.item1 {
    background-color: green;
}

.item2 {
    background-color: yellow;
}

.item3 {
    background-color: purple;
}

.item4 {
    background-color: gray;
}

.item5 {
    background-color: blue;
}

.item6 {
    background-color: orange;
}

.item7 {
    background-color: pink;
}

.item8 {
    background-color: red;
}

.item9 {
    background-color: brown;
}