* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 15px;
    font-family: Arial, sans-serif;
}

.cards-container {
    display: flex;
    align-items: stretch;
    gap: 25px;
}

.card {
    width: 33.33%;
    min-height: 700px;

    display: flex;
    flex-direction: column;

    border: 1px solid gray;
    border-radius: 4px;
    overflow: hidden;
}

.card h2 {
    margin: 0;
    padding: 20px;
    font-size: 30px;
}

.card img {
    display: block;

    width: 100%;
    aspect-ratio: 16 / 9;

    object-fit: cover;
    object-position: center;
}

.card p {
    margin: 0;
    padding: 25px 15px;
    font-size: 22px;
    line-height: 1.6;

    flex: 1;
}

.card footer {
    padding: 16px;
    background-color: #333;
    color: white;
    font-size: 20px;
}