* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 30px;

    font-family: Arial, sans-serif;
}

section {
    margin-bottom: 90px;
}

h3 {
    margin-bottom: 15px;
    font-weight: normal;
}

.container {
    display: flex;

    width: 500px;
    height: 125px;

    border: 2px dotted black;
}

.box {
    width: 125px;
    height: 125px;

    background-color: red;

    border-right: 3px solid white;

    font-family: Georgia, serif;
    font-size: 20px;
}

.green {
    background-color: green;
}


/* 1. Static */

.static-box {
    position: static;
}


/* 2. Relative */

.relative-box {
    position: relative;

    top: 25px;
    left: 30px;
}


/* 3. Absolute */

.absolute-container {
    position: relative;
}

.absolute-box {
    position: absolute;

    top: 15px;
    left: 15px;
}